@import "./variables";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 1rem;
  width: 80%;
  max-width: 1444px;
  padding: 1rem 0;

  @include lg {
    width: 95%;
  }
  @include md {
    width: 100%;
  }
}
