@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-family: "League Spartan", sans-serif;
$light-font-color: #eeeff4;
$mid-font-color: #7d828f;
$dark-font-color: #1b1d23;
$transistion: 300ms ease-in-out;
// breakpoints
$screen-sm-min: 576px;
$screen-md-min: 767px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
